h1 {
    text-align: center;
    margin-bottom: 70px;
}

.form-search {
    background-color: #FFFFFF;
    padding: 20px;
    width: 1075px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;}

.bungkus-form-search {
    display: flex;
    justify-content: center;
}

.btn-search {
    height: 55px;
}

/* .hargaOption {
    font-size: 10px;
} */